// Default Colors for site
$pine-green: #018472;
$bright-grey: #eeeeee;
$white: #ffffff;
$davys-grey : #494f5c;
$granite-grey: #666666;
$sonic-silver: #777777;
$arsenic: #3b3e48;
$css-grey: #7d828a;
$japanese-indigo: #2c3e50;
$pine-tree: #272822;
$taupe-grey: #878787;
$chinese-silver: #cccccc;
$anti-flash-white: #f1f1f1;
$lapis-lazuli: #21759b;

// My colors for site
$mint : #748A8B;   // body
$deep-mint: #5e7071;  // footer;
$ocean: #59a5a6; // highlight

// Default Colors and Opacity for Admonition
$blueberry: #448aff;
$turquoise-surf: #00b8d4;
$caribbean-green: #00bfa5;
$malachite: #00c853;
$dark-orange: #ff9100;
$crayola: #ff5252;
$awesome: #ff1744;
$folly: #f50057;
$admonition-background-opacity : 0.1;

// Default dimmed value
$dimmed-opacity: 0.8 !default;

// Background color
$html-background: $mint !default;

// Site Navigation color
$site-nav-children-border-right:$css-grey !default;

// Posts separator in list view
$post-item-border-bottom: $css-grey !default;

// Pinned posts group separator in list view
$pinned-posts-group-border-bottom: $css-grey !default;

// Elements of the site which are expected to follow accent color
// In this current form, `accentColor` in hugo.toml will have higher precedence than these declarations
$aTag-mixin-a-box-shadow: $ocean !default; // Box shadow for Mixin "aTag" used by figure element
$aTag-mixin-a-hover-box-shadow: $ocean !default; // Box shadow on hover for Mixin "aTag" used by figure element
$content-anchor-hover: $ocean !default; // Anchor text hover color
$post-description-a-hover-border-bottom: $ocean !default; // Anchor text on hover for post description in list
$tableofcontents-a-hover-border-bottom: $ocean !default; // Table of Contents on hover
$scrolltotop-arrow: $ocean !default; // Scroll yo Top arrow color
$typewriter: $ocean !default; // Typewriter carat color
$footnote-ref-hover-background: $ocean !default; // Footnote reference on hover
$marked-background: $ocean !default; // Marked text background color
$inserted-text-underline: $ocean !default; // Inserted text underline color

// Footnote
$footnote-ref-background: $deep-mint !default;

// Scroll to Top Default colors
// Scroll to Top "Up arrow" color is defined as : $scrolltotop-arrow
$scrolltotop-ring: $chinese-silver !default;
$scrolltotop-circle: $deep-mint !default;

// Page Scrollbar
$pagescrollbar-background: $deep-mint !default;
$pagescrollbar-thumb: $taupe-grey !default;
$pagescrollbar-thumb-hover: $bright-grey !default;

// Table of Contents
$tableofcontents-background: transparent;

// Table of Contents Scrollbar
$tableofcontents-scrollbar-track: darken($pagescrollbar-thumb, 10%) !default;
$tableofcontents-scrollbar-thumb: $deep-mint !default;
$tableofcontents-scrollbar-thumb-hover: lighten($deep-mint, 10%) !default;

// Text color
$text: $bright-grey !default;

// Text selection color
$text-select: $ocean !default;

// Marked text color
$marked-text:$bright-grey !default;

// Link text color on hover
$a-hover: $white !default;

// 404 Page
$btn-404-a-border: $bright-grey !default;
$btn-404-a-hover: $white !default;

// Social Share links pane
$share-links-background: $deep-mint !default;
$share-links-a: $bright-grey !default;
$share-links-a-hover-active-focus: $bright-grey !default;

// Code block, Mermaid block color
$code-color: $bright-grey !default;
$pre-code: $bright-grey !default;
$pre-code-background: transparent !default;
$code-background:$deep-mint !default;
$syntax-background: $deep-mint !default;
$pre-background: $deep-mint !default;
$mermaid-background: $pine-tree !default;

// Code copy button
$highlight-copy-btn: $white !default;
$highlight-copy-btn-hover: $sonic-silver !default;
$highlight-copy-btn-background: $granite-grey !default;

// Site Header color
$site-header-background:$deep-mint !default;

// Mobile menu color
$mobile-menu-background: $deep-mint !default;

// Accessibility - Screen reader
$screen-reader-text: $lapis-lazuli !default;
$screen-reader-text-background: $anti-flash-white !default;

// Featured Image (or Background Image) Copyright section
$featured-image-text: $bright-grey !default;
$featured-image-background: rgba($arsenic, 0.45) !default;

// Image Gallery specific colours
$gallery-item-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !default; // Subtle shadow for depth.
$gallery-item-hover-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15) !default; // Enhance shadow on hover.
$gallery-item-caption-background: rgba(0, 0, 0, 0.7) !default; // Semi-transparent background for readability.
$gallery-item-caption-color: #fff !default; // White text for contrast.
$lightbox-overlay-background: rgba(0, 0, 0, 0.85) !default; // Dark semi-transparent background to focus on image.
$lightbox-image-box-shadow: 0 5px 15px rgba(0,0,0,0.3) !default; // Shadow for the image in lightbox
$lightbox-caption-color: #fff !default; // Caption colour in lightbox.
$lightbox-close-nav-color: #fff !default; // Close and Navigation button colour in lightbox.
$lightbox-close-color-hover: #ccc !default; // Close button hover colour in lightbox.
$lightbox-nav-background-color: rgba(0, 0, 0, 0.3) !default; // Semi-transparent background for nav buttons.
$lightbox-nav-background-color-hover: rgba(0, 0, 0, 0.6) !default; // Semi-transparent background for nav buttons on hover.

//Admonition colors
$admonition-background: (
    "note": rgba($blueberry, $admonition-background-opacity),
    "info": rgba($turquoise-surf, $admonition-background-opacity),
    "tip": rgba($caribbean-green, $admonition-background-opacity),
    "success": rgba($malachite, $admonition-background-opacity),
    "warning": rgba($dark-orange, $admonition-background-opacity),
    "failure": rgba($crayola, $admonition-background-opacity),
    "danger": rgba($awesome, $admonition-background-opacity),
    "bug": rgba($folly, $admonition-background-opacity),
    ) !default;

$admonition-color: (
    "note": $blueberry,
    "info": $turquoise-surf,
    "tip": $caribbean-green,
    "success": $malachite,
    "warning": $dark-orange,
    "failure": $crayola,
    "danger": $awesome,
    "bug": $folly,
    ) !default;
